#categoryContainer{
    height: 80px;
    display: flex !important;       /* make sure cards center properly */
    justify-content: center;        /* center the card */
    align-items: flex-end; 
    overflow: visible !important;
    margin: 4rem 0;
}

#categoryContainer .swiper-pagination {
    position: absolute !important;
    bottom: -30px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: auto !important;
}

.category-container{
    position: relative;
    border: 2px solid var(--color-purple);
    border-radius: 20px;
    display: flex !important;       /* make sure cards center properly */
    justify-content: flex-start;        /* center the card */
    align-items: flex-end;        /* let content start from top */
    padding: 0 0 10px 20px;
    cursor: pointer;
}

.category-img{
    position: absolute;
    right: 20px;
    top: -30px;
    height: 100px;
    width: auto;
}

.category-container span{
    display: inline-flex;
    max-width: 60%;
    
}
